@font-face {
  font-family: "monkey";
  src: url("I:/vscode/fonts/Monday Monkey.ttf");
}


* {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  color: #264653;
  white-space: pre;
}

*::selection {
  /* background: rgba(255, 238, 0, 0.479); */

  /* color: rgb(255, 255, 255); */
  color: rgb(6, 140, 250);
}
.p-box-img {
  overflow: hidden;
}
/* 
.p-text-block {
  padding-right: 300px;
  padding-left: 300px;
  pointer-events: none;
}

.p-text-block * {
  pointer-events: auto;
} */

.p-box-img img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.p-group {
  pointer-events: none;
}

.p-line {
  pointer-events: none;
}

.p-html {
  background: red;
}


body {
  background: #e9c46a;
  overflow: hidden;
}

.app{
  width: 100vw;
  height: 100vh;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
}


.hide {
  visibility: hidden;
}



.elemento {
  display: flex;
}

.elemento span {
  width: 10px;
  margin: 5px;
  background-color: #e7e6e6;
  /* background-color: white; */

}


.p-text {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.inline-block {
  display: inline-block;
}







.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 10px 30px; */

}


/* span div {
  position: absolute;
} */

/* span div:nth-child(2) {
  opacity: 0;
} */
.cortar {
  position: relative;
  opacity: 1 ;
}
.cut-pause {
  position: relative;
  opacity: 1 !important;

}

.cut-pause::after {
  content: "";
  width: 500%;
  height: 10px;
  margin: auto;
  text-align: center; 
  transform-origin: left top;
  background-color: rgb(209, 22, 22);
  opacity: 0.5;
  animation: cortar 1s ease-in-out ;
  left: 65%;
  top: -5%;

  position: absolute;
  transform: rotate(90deg);

}

.cortar::after {
  content: "";
  width: 200%;
  height: 10px;
  position: absolute;
  transform: rotate(50deg);
  transform-origin: left top;
  top: 20px;
  left: 3px;
  border-radius: 10px;
  z-index: 2;
  background-color: rgb(255, 0, 0);
  opacity: 0.5;

  animation: cortar 1s ease-in-out ;
  animation-fill-mode: forwards;
  /* animation-delay: 2s;
  animation: opacitsy 0.5s infinite  alternate ; */
}
.cortar.words-3::after {
  transform: rotate(23deg);
  width: 115%;
  top: 40px;
  left: -3px;
}
.cortar.words-2::after {
  transform: rotate(30deg);
  width: 130%;
}
.cortar.words-1::after {
  transform: rotate(50deg);
  width: 180%;
}
.cortar.words-half::after {
  transform: rotate(60deg);
  width: 290%;
  left: -3px;
}

.cortar.i::after {
  transform: rotate(60deg);
  width: 340%;
  left: -3px;
}
.cortar.h::after {
  transform: rotate(50deg);
  width: 180%;
  left: -3px;
}
.cortar.th::after {
  transform: rotate(40deg);
  width: 135%;
  left: -3px;
}


.join-words::after {
  content: "";
  width: 500%;
  height: 9px;
  position: absolute;
  bottom: 0px;
  left: -160%;
  border-radius: 10px;
  background-color: rgb(0, 153, 255);
  /* opacity: 1; */
  z-index: -1;
  opacity: 0.5;
  animation: cortar 1s ease-in-out ;
  animation-fill-mode: forwards;
}


.join-words {
  position: relative;
  opacity: 1 !important;
}

@keyframes cortar {
  0% {
    width: 0px;
  }
  /* 100% {
    width: 140%;
  } */
} 


.d-text-cursor-magic {
  pointer-events: none;
  position : absolute;

  width : 600vw;
  height : 100px;
  transform-origin: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.d-text-cursor-magic span {
  pointer-events: auto;

}

.d-text-cursor-magic span {
  font-family: inherit !important;
}

.d-text-cursor-magic span, .d-text-cursor-magic {
  line-height : 0 !important;
  color: #e7e6e6;
  font-family: "monkey";
  font-weight: 100;
  text-shadow: 2px 0 0 #011628, -2px 0 0 #011628, 0 2px 0 #011628, 0 -2px 0 #011628, 1px 1px #011628, -1px -1px 0 #011628, 1px -1px 0 #011628, -1px 1px 0 #011628;
}

.stroke {
  text-shadow: 2px 0 0 #011628, -2px 0 0 #011628, 0 2px 0 #011628, 0 -2px 0 #011628, 1px 1px #011628, -1px -1px 0 #011628, 1px -1px 0 #011628, -1px 1px 0 #011628;
}

span.magic-cursor.one {
  color: #e7e6e6;

}

span.magic-cursor.two {
  color: #8ac926;

}

span.magic-cursor.three {
  color: #ff006e;

}

span.magic-cursor.four {
  color: #3a86ff;
  color: #00a4eb;

}

span.magic-cursor.five {
  color: #ffbe0b;

}

span.magic-cursor.six {
  color: #8338ec;

}

span.magic-cursor.seven {
  color: #fb5607;

}

span.magic-cursor.eight {
  color: #00b050;

}

span.magic-cursor.nine {
  color: #ff0000;
}

span.magic-cursor.zero {
  color: #404040;
}

img.one {
  max-width: 300px;
  max-height: 300px;
}

img.two {
  max-width: 400px;
  max-height: 400px;
}

img.three {
  max-width: 500px;
  max-height: 500px;
}

.files {
  position: absolute;
  left: 60px;
  top: 40px;
  overflow: auto !important;
}

.file {
  font-size: 20px;
  cursor: pointer;
}

.file:hover {
  background: white;
}