* {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  color: #264653;
  transition: all .6s cubic-bezier(.45,1.11,.59,.95);
}


body {
  background: #e9c46a;
}

.app{
  width: 100vw;
  height: 100vh;
  position: relative;
}


.elemento {
  display: flex;
}

.elemento span {
  width: 10px;
  margin: 5px;
  background-color: white;

}


.p-text {
  display: flex;
  /* gap: 10px; */
}



.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 10px 30px; */

}


span div {
  position: absolute;
}

span div:nth-child(2) {
  opacity: 0;
}