* {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  color: #264653;
}

*::selection {
  /* background: pink; */

  color: #fff;


}

.p-group {
  pointer-events: none;
}

.p-line {
  pointer-events: none;
}

.p-html {
  background: red;
}


body {
  background: #e9c46a;
  overflow: hidden;
}

.app{
  width: 100vw;
  height: 100vh;
  position: relative;
}


.hide {
  visibility: hidden;
}


.elemento {
  display: flex;
}

.elemento span {
  width: 10px;
  margin: 5px;
  background-color: white;

}


.p-text {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.inline-block {
  display: inline-block;
}


.anchor-center {
  /* top: 50%;
  left: 50%; */
  /* transform: translate(200); */
}





.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 10px 30px; */

}


/* span div {
  position: absolute;
} */

/* span div:nth-child(2) {
  opacity: 0;
} */
.cortar {
  position: relative;
}

.cortar::after {
  content: "";
  width: 0px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: left top;
  top: 20px;
  left: 3px;
  border-radius: 10px;
  background-color: black;
  opacity: 0.5;

  animation: cortar 1s ease-in-out ;
  animation-fill-mode: forwards;
  /* animation-delay: 2s;
  animation: opacitsy 0.5s infinite  alternate ; */
}
@keyframes opacitsy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cortar {
  0% {
    width: 0px;
  }
  100% {
    width: 140%;
  }
} 


