@font-face {
  font-family: amaranth;
  src: url(../assets/fonts/Amaranth-Regular.ttf);
}

body {
  background-color: hsl(0, 0%, 15%);
  background-color: hsl(90, 4%, 90%);
  background-color: hsl(346, 84%, 61%);
}

*::-moz-drag-over {
  display: none;
}
*::-webkit-drag-over {
  display: none;
}

*::selection {
  background-color: hsl(0, 0%, 87%);
  opacity: 1;
}

* {
  color: hsl(0, 0%, 89%);
  color: hsl(233, 22%, 23%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: amaranth;
  font-weight: 100;
}

body {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sentences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#en {
  /* font-size: 2000px; */

  background-color: hsl(90, 4%, 90%);
  padding: 40px 50px;
  border-radius: 30px;
  box-shadow: 0px 10px 10px hsla(0, 0%, 0%, 0.514);
  max-width: 95vw;
  text-align: center;
}
#pt {
  /* font-size: 2000px; */
  font-weight: 100;
  opacity: 0.8;
  color: white;
}

.highlight {
  color: hsl(193, 99%, 47%);
  color: hsl(187, 73%, 39%);
  font-weight: 800;
  /* padding: 1px 10px; */
  /* border-radius: 5px; */
}

.control-pressed .clickable:hover {
  cursor: pointer;
}

.substitute {
  opacity: 0.4;
}

.info {
  color: red;
  margin-bottom: -22px;
  z-index: 500;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}

.info:focus {
  outline: none;
}

.info::selection {
  background: transparent;
}

.deleted {
  opacity: 0.2;
  /* color: hsl(346, 84%, 61%); */
}

#index {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 15px;
}
